/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*****************************************************************************

	Project Name : Cafeteria Online Shop
	Version 	 : 1.0
	Author		 : Turtrozz
	Website		 : www.turtrozz.com
	Date Created : 13/06/2017

******************************************************************************/


/*****************************************************************************

		=========TABLE OF CONTENTS=====
		
		**Brand related content

	

******************************************************************************/

strong{
	
	content: "";
	display: block;
	
}


.full-backg{
	
	
	background-image: url(../imgs/full-backg.jpg);
	background-size: cover;
	background-position: center center;
	position: relative;
	top: 0;
	bottom: 0;
	height: 100vh;
	
	
}


.overlay{
	
	
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	background-color: rgba(255,255,255,.3);
	
}

.content-container{

	
	width: 100%;
	
	
	
}

header{
	
	border-bottom: solid thin #CCC;
	margin:0 auto;
	width: 100%;
	
}


/***********************User Account******************************/


header ul li .user-account{
	
	
	position: absolute;
	width: 50%;
	
}




/*********************Navigation link****************************/



header article{
	
	
	margin: 0 auto;
	width: 90%;
	
	
}

header article section{
	
	float: left;
	width: 33%;
	
}

header article section:last-of-type{
	
	background-color: #F00;
	
}


header article section ul{
	
	list-style-type: none;
	margin: 0;
	padding: 0;
		
}

header article section ul li{
	
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 18%;	
		
}

header article section:first-of-type li{
	
	width: 12%;
		
}


header li:last-child nav{
	
	
	background-color: #FFF;
	display: none;
	position:absolute;
	right: 5.9%;
	top: 60px;
	width:15%;
	
}

header li:last-child:hover nav{
	
	
	display: block;
}


header li:last-child nav ul{
	
	width: 100%;
}

header li:last-child nav ul li{
	
	
	border-bottom:solid 1px #CCCCCC;
	display:block;
	padding-bottom: 15px;
	padding-top: 15px;
	position: relative;
	width: 100%;
	
}

header li:last-child nav ul li:hover{
	
	
	background-color: #F00;
	
	
}

header li:last-child nav ul li a{
	
	color: #000;
	padding-left: 30%;
	position: relative;
	text-decoration: none;
	width: 100%;
	
	
}

header li:last-child nav ul li a:hover{
	
	color: #FFF;
	
	
	
}



.main-content{
	
	
	height: auto;
	margin: 0 auto;
	position: relative;
	top: 150px;
	width: 90%;
	
	
}

.main-content section{
	
	
	margin: 0 auto;
	padding-left: 15%;
	width: 50%;
}

.main-content section h1{
	
	
	font-size: 2.5em;
}

.main-content section h3{
	
	
	color: #333;
	margin-left: 12%;
	position: relative;
	bottom: 20px;
	
}

.main-content section p{
	
	
	background-color: #000;
	color: #FFF;
	font-size: 1.5em;
	margin-left: 8%;
	position: relative;
	text-align: center;
	width: 35%;
	
	
}

.main-content section p a{
	
	
	
	color: #FFF;
	text-decoration: none;
	
	
	
}

footer{

	background-color: #FFF;
	bottom: 0;
	padding-top: 2%;
	position: absolute;
	width: 100%;
	
}

footer article{
	
	margin: 0 auto;
	width: 90%;
	
	
}

footer article section{
	
	float: left;
	width: 50%;
	
	
}

footer article section:last-of-type ul{
	
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	
	
}

footer article section:last-of-type ul li{
	
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 18%;
	
	
}

footer article section:last-of-type ul li:first-child{
	
	padding-left: 7%;
	
	
}



















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
